{% extends 'base.html.twig' %}

{% block title %}{{heading}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Вы открыли детальную страницу новости! ✅</h1>
    <ul>
        <li>ID элемента - {{ newsDetail.id }}</li>
        <li>Название элемента - {{ newsDetail.title }}</li>
        <li>Текст - {{ newsDetail.description }}</li>
    </ul>
    {% if newsDetail.isShow == true %}
        <div class="news-submit__accepted">
            Новость опубликована
        </div>
    {% else %}
        <div class="news-submit">
            <a href="{{ newsDetail.id }}/check">Отправить на проверку</a>
        </div>
    {% endif %}
    <div class="link-back">
        <a href="/">Вернуться назад</a>
    </div>
</div>
{% endblock %}
